{{ if .Site.Data.homepage.people.enable }}
<section class="section section--border-bottom rad-animation-group" id="people">
    <div class="container">
        <div class="row rad-fade-down">
            <div class="col-12">
                <h2>{{ .Site.Data.homepage.people.title }}</h2>
                <div class="row pt-2 pt-md-4">
                    {{ range .Site.Data.homepage.people.items }}
                    <div class="col-12 col-sm-6 mb-4 mb-sm-0">
                        <div class="education">
                            <div class="education__date">{{ .year }}</div>
                            <div class="education__title"><a href=" {{ .link }} "> {{ .name }} </a></div>
                            <div class="education__degree">
                                {{ .role }}
                            </div>
                        </div>
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}
